.editor-group-watermark>.letterpress {
    background-image: url("https://raw.githubusercontent.com/Aikoyori/ProgrammingVTuberLogos/main/VSCode/VSCode.png") !important;
    opacity: 1.0;
}

.monaco-workbench .part.editor>.content .editor-group-container>.editor-group-watermark {
    max-width: 600px !important;
}
