#!/bin/bash

{{ if eq .chezmoi.os "linux" }}

{{ if eq .chezmoi.osRelease.id "debian" }}

apt update
apt install -y \
  bat \
  curl \
  exa \
  fd-find \
  fzf \
  gh \
  neofetch \
  neovim \
  nnn \
  ripgrep \
  thefuck \
  tldr \
  tmux \
  tmuxinator \
  wget

function dl_github_pkg() {
  KERNEL=$(uname -s | tr '[:upper:]' '[:lower:]')
  MACHINE=$(uname -m | tr '[:upper:]' '[:lower:]')

  GITHUB_USER=$1
  REPO_NAME=$2
  VERSION=$3
  CMD_NAME=$4
  EXT=$5

  FILE=${CMD_NAME}-${KERNEL}-${MACHINE}.${EXT}
  curl -sLJO https://github.com/${GITHUB_USER}/${REPO_NAME}/releases/download/${VERSION}/${FILE}
  tar -xvf $FILE
  chmod +x $CMD_NAME
  mv $CMD_NAME /usr/bin/
}

dl_github_pkg "extrawurst" "gitui" "v0.24.3" "gitui" "tar.gz"

# starship
curl -sS https://starship.rs/install.sh | sh -s -- --yes

# sheldon
curl --proto '=https' -fLsS https://rossmacarthur.github.io/install/crate.sh \
    | bash -s -- --repo rossmacarthur/sheldon --to /usr/local/bin

source ~/.zprofile

{{ end }}

{{ end }}
