#!/bin/bash

{{ if eq .chezmoi.os "linux" }}

{{ if eq .chezmoi.osRelease.id "debian" }}

#############################
# install cmd
#############################

apt update
apt install -y \
  bat \
  curl \
  exa \
  fd-find \
  fzf \
  git \
  gh \
  neofetch \
  neovim \
  nnn \
  ripgrep \
  thefuck \
  tldr \
  tmux \
  tmuxinator \
  wget

#############################
# dl by github release
#############################

function dl_github_pkg() {
  GITHUB_USER=$1
  REPO_NAME=$2
  VERSION=$3
  FILE=$4
  ARCHIVED_PATH=$5

  curl -sLJO https://github.com/${GITHUB_USER}/${REPO_NAME}/releases/download/${VERSION}/${FILE}
  tar -xvf $FILE || true
  chmod +x $ARCHIVED_PATH
  cp $ARCHIVED_PATH /usr/bin/
  #rm -rf $FILE $ARCHIVED_PATH
}

KERNEL=$(uname -s | tr '[:upper:]' '[:lower:]')
MACHINE=$(uname -m | tr '[:upper:]' '[:lower:]')

dl_github_pkg "extrawurst" "gitui" "v0.24.3" "gitui-${KERNEL}-${MACHINE}.tar.gz" "gitui"

#############################
# dl by curl
#############################

# starship
curl -sS https://starship.rs/install.sh | sh -s -- --yes

# sheldon
curl --proto '=https' -fLsS https://rossmacarthur.github.io/install/crate.sh \
    | bash -s -- --repo rossmacarthur/sheldon --to /usr/local/bin

#############################
# nvim build
# apt で入る nvim が古すぎる
#############################

git clone https://github.com/neovim/neovim --depth=1
cd neovim
apt install -y libtool autoconf automake make cmake libncurses5-dev g++ gettext
make CMAKE_BUILD_TYPE=RelWithDebInfo
make install

{{ end }}

{{ end }}
