#!/bin/bash

{{ if eq .chezmoi.os "darwin" }}

# 一時的に startup を止める
exit 0

/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

brew bundle --file="$HOME/.Brewfile"

{{ end }}
